<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>On line Exam</h1>
<table width="60%" border="1">

    <tr>
        <th><h2>Inputs</h2></th>
    </tr>
    <tr>
        <td>
            <h3>  <a href="/student">Add Student</a></h3>
            <h3><a href="/teacher">Add Teacher</a></h3>
            <h3><a href="/create_exam">Add Exam</a></h3>
            <h3><a href="/assign_exam">Assign Exam</a></h3>
        </td>

    </tr>
</table>
<h3><a href="/auth/login">Logout</a></h3>

</body>
</html>